# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://user:password@cluster0.inalhds.mongodb.net/merkle"

AIRDROP_CONTRACT_ADDRESS="0x9d16fbec655bd33bf19db09621dfbe1a00e3787f"